<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<title>Guia perguntas</title>
</head>
<body>
	<div class="navbar navbar-light bg-primary">
		<a class="navbar-brand" href="/">
			<img src="/img/guia.png" />
		</a>
	</div>
	<div class="container">
		
		<div class="card" id="formulario-pergunta">
			<div class="card-header">
				<h3>Realizar perguntas</h3>
			</div>
			<div class="card-body">
				<form>
					<label for="title">Títulos</label>
					<input id="title" class="form-control" type="text" placeholder="Informe o título aqui..." />
					<label for="question">Pergunta</label>
					<textarea id="question" class="form-control" placeholder="Digite a sua pergunta aqui..."></textarea>
					<br>
					<button class="btn btn-primary">Perguntar</button>
				</form>
			</div>
		</div>
	</div>
	
	<script src="/js/jquery.min.css"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"
</body>
</html>