* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(74, 197, 197);
    color: rgb(226, 221, 221);
    font-family: sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: rgb(226, 221, 221);
}

.menu {
    width: 500px;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.toggle {
    background-color: rgb(146, 52, 235);
    list-style: none;
    border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.sub-menu {
    background-color: rgb(47, 47, 141);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -o-transition: max-height .5s;
}

.sub-menu p {
    padding: 20px;
}

.btn {
    display: block;
    padding: 20px;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}

.btn span {
    position: relative;
}

.btn span::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -ms-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
}

.btn span:hover::before {
    width: 100%;
}

.btn:hover, .btn i:hover {
    color: white;
}

#rede .sub-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;    
}

#rede .sub-menu a {
    padding: 10px;
    font-size: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#rede .sub-menu a:hover {
    color: white;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.logout {
    text-align: right;
}

.toggle:target .sub-menu {
    max-height: 7em;
}