body{
    margin: 0;
    padding:0;
    background-color: #9c88ff;
}


.middle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.sm-container{
    text-align: center;
}

.sm-container i{
    color: #f5f6fa;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.sm-container i:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.sm-menu{
    background-color: #487eb0;
    position: absolute;
    border-radius: 8px 8px;
    -webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    -ms-border-radius: 8px 8px;
    -o-border-radius: 8px 8px;
    display: none;
}

.sm-menu::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #487eb0;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}

.sm-menu.active{
    display: block;
}